:root {
  --background: #fff;
  --foreground: #111;
  --accent: #2851cd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #fff;
    --accent: #4a90eb;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
  margin: 0;
} */

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--foreground);
  background-color: var(--background);
}

a {
  color: var(--accent);
}

button {
  all: unset;
  display: block;
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

header,
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

header {
  font-weight: 600;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.layer {
  position: fixed;
  inset: 0;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

#debug {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 9999;
}

.title {
  font-size: 8vw;
}

nav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 999px;
  padding-inline: 0.25em;
  padding-block: 0.25em;
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--background);
  text-decoration: none;
  border-radius: 999px;
}

nav a:hover {
  background-color: var(--accent);
  color: var(--background);
}

.big-word {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32vw;
  font-weight: 900;
  letter-spacing: -0.1em;
  font-family: 'TT Firs Neue', sans-serif;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
